[mysqld]
basedir                 = /home/wbl/hubsql/deploy/mysql-portable
datadir                 = /home/wbl/hubsql/deploy/mysql-portable/data
socket                  = /home/wbl/hubsql/deploy/mysql-portable/run/mysqld.sock
pid-file                = /home/wbl/hubsql/deploy/mysql-portable/run/mysqld.pid
log-error               = /home/wbl/hubsql/deploy/mysql-portable/run/error.log
port                    = 3306
bind-address            = 127.0.0.1
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
max_connections         = 200
innodb_buffer_pool_size = 512M

[client]
socket                  = /home/wbl/hubsql/deploy/mysql-portable/run/mysqld.sock
default-character-set   = utf8mb4
